@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?ntfe6y');
	src:url('fonts/icomoon.eot?#iefixntfe6y') format('embedded-opentype'),
		url('fonts/icomoon.ttf?ntfe6y') format('truetype'),
		url('fonts/icomoon.woff?ntfe6y') format('woff'),
		url('fonts/icomoon.svg?ntfe6y#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-LOGO:before {
	content: "\e600";
}
