* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	font-family: 微軟正黑體;
	/*text-align: center;*/
}

a {
	color: #333;
	text-decoration: none;
}

a:hover,
a:active {
	color: #d53430;
}

img {
	display: block;
}

h3 {
	font-size: 28px;
	font-weight: bold;
	line-height: 38px;
}

p {
	font-size: 18px;
	line-height: 1.5em;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.txtRed {
	color: #f00;
}

.txtRed:hover {
	color: #f00;
}

.right {
	float: right;
}

.left {
	float: left;
}

.clearfix:after {
	display: block;
	height: 0;
	content: "";
	clear: both;
	visibility: hidden;
	font-size: 0;
}

.flexbox {
	display: flex;
}

.flex1 {
	flex: 1;
}

html, body {
	width: 100%;
	font-family: 微軟正黑體;
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: none;
	background-color: #f7f7f7;
}

.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9997;
	background-color: #fff;
    border-bottom: 5px solid #e71f19;
}

.header>div {
	width: 1250px;
	margin: 0 auto;
	padding: 20px 0px 0px 30px;
}

.logo{
	width: 214px;
	float: left;
	display: block;
}

.m_logo{
	display: none;
}

.logo img {
	width: 214px;
	height: auto;
}

a.iconToggle {
	display: none;
}

nav {
	float: right;
	display: block;
	/*border: 2px solid green;*/
}

ul.navList {

}

li.navItem {
	display: block;
	float: left;
}

a.navLink {
	display: block;
	/*line-height: 40px;*/
	line-height: 40px;
	/*margin-left: 10px;*/
	/*margin-left: 13px;*/
}

a.navLink:hover,
a.navLink.active {
	display: block;
	color: #fff;
}

a.navIcon {
	/*padding: 0px 10px 0px 40px;*/
	/*padding: 0px 13px 0px 38px;*/
	padding: 0px 15px 0px 45px;
}

a.navHome {display: none;}
a.iconPhone {background: url("../image/icon_phone.png") no-repeat 10px center;}
a.iconPhone:hover {background: url("../image/icon_phone_hover.png") no-repeat 10px center #e71f19;}
a.iconShopping {background: url("../image/icon_shopping.png") no-repeat 10px center;}
a.iconShopping:hover {background: url("../image/icon_shopping_hover.png") no-repeat 10px center #e71f19;}
a.iconCamera {background: url("../image/icon_camera.png") no-repeat 10px center;}
a.iconCamera:hover, a.navLink.active {background: url("../image/icon_camera_hover.png") no-repeat 10px center #e71f19;}
a.iconSport {background: url("../image/icon_sport.png") no-repeat 10px center;}
a.iconSport:hover {background: url("../image/icon_sport_hover.png") no-repeat 10px center #e71f19;}
a.iconLogin {background: url("../image/icon_login.png") no-repeat 10px center;}
a.iconLogin:hover {background: url("../image/icon_login_hover.png") no-repeat 10px center #e71f19;}

a.navLine {padding: 0px 10px 0px 10px;}
a.iconLine img {margin-top:3px;}
a.iconLine span {display: none;}

.content {
	width: 100%;
	min-width: 1250px;
	margin-top: 63px;
	padding-top: 150px;
	padding-bottom: 30px;
	background: url("../image/bg.jpg") no-repeat center 0px;
	background-attachment: fixed;
}

.content.searchAlbum .contentTop,
.content.searchPhoto .contentTop {
	background-color: #e7e7e7;
	padding: 30px 0px 10px;
}

.content.searchAlbum,
.content.searchPhoto {
	padding-top: 0px;
	background: none;
	background-attachment: unset;
}

.searchWrap {
	position: relative;
	width: 1250px;
	margin: 0 auto;
	padding-bottom: 20px;
}

.searchBox {
	width: 595px;
	margin: 0 auto;
}

.searchAlbum .searchBox,
.searchPhoto .searchBox {
	margin: 0 auto;
}

.searchForm input[type="search"] {
	width: 540px;
    height: 45px;
    line-height: normal;
    font-size: 20px;
    padding: 10px 5px 10px 45px;
    border: none;
    border-radius: 5px 0px 0px 5px;
    color: #333;
    text-align: center;
}

.searchForm input[type="search"]::placeholder {
	color: #333;
}

a.searchKeyword {
	display: inline-block;
	background-color: #fff;
	float: right;
	border-radius: 0px 5px 5px 0px;
}

.btnSearch {
	width: 55px;
	height: 45px;
	background: url("../image/btn_search.png") no-repeat center;
}

.timeLine {

}

.albumInfo {
	width: 1250px;
	margin: 0 auto;
	color: #333;
}

.albumTitle {
	/*display: inline-block;*/
	display: block;
	margin-bottom: 10px;
	padding: 0px 10px;
	font-size: 35px;
	font-weight: bold;
}

.albumDate {
	display: inline-block;
	font-size: 14px;
	float: right;
	line-height: 40px;
	margin-right: 20px;
}

.filterWrap {
	display: inline-block;
	/*padding: 0 15px;*/
	padding: 10px 15px 0px;
	text-align: center;
}

.filterTitle {
	display: inline-block;
	padding: 0px 10px 0px 0px;
	font-size: 16px;
	text-align: left;
}

#timeSlider {
	display: inline-block;
	width: 400px;
	margin: 0 10px 2px;
	vertical-align: middle;
}

#startTime,
#endTime {
	width: 50px;
	border: 1px solid #999;
    color: #333;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}

.resultWrap {
	width: 1250px;
    margin: 0 auto;
    text-align: center;
}

.result {
	display: flex;
	justify-content: center;
	padding-top: 20px;
}

.iconNoResult {
	display: none;
	width: 130px;
	height: 130px;
	background: url("../image/icon_noResult.png") no-repeat center;
}

.noResult .iconNoResult {
	display: block;
}

.resultMsg {
	padding-left: 20px;
	align-self: center; /*vertical-align middle with img*/
}

.keyword {
	color: #d53430;
}

.albumWrap {
	width: 1250px;
	margin: 0 auto;
	padding-top: 160px;
	/*background-color: #fff;*/
}

.searchAlbum .albumWrap,
.searchPhoto .albumWrap {
	padding-top: 20px;
}

.albums {
	display: block;
	width: 300px;
	height: 260px;
	margin: 10px 5px;
	padding: 5px;
	background-color: #fff;
	overflow: hidden;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.08);
}

.albums:hover,
.albums:active {
	background-color: #d53430;
	color: #fff;
}

.albums:hover .album_title,
.albums:active .album_title {
	color: #fff;
}

.album_img {
	width: 290px;
	height: 195px;
	background: url('http://img.ltn.com.tw/Upload/sports/page/800/2016/03/27/1645894_4.jpg') no-repeat top center;
	/*background: url('../image/album/album-2.jpg') no-repeat top center;*/
	background-size: cover;
}

.albums.ad .album_img {
	height: 250px;
}

.albums.ad .album_info {
	display: none;
}

.album_info {
	padding: 3px 5px;
    line-height: 1.2em;
}

.album_title {
	display: block;
	font-size: 18px;
	line-height: 1.5em;
	color: #5c0000;
}

.photoWrap {
	display: block;
    padding: 10px;
    max-width: 1700px;
    margin: 0 auto;
}

.photos {
	position: relative;
	display: block;
	width: 260px;
	height: 260px;
	margin: 10px;
	background-color: #fff;
	/*overflow: hidden;*/
	/*box-shadow: 3px 3px 3px rgba(0,0,0,0.08);*/
	/*background-image: attr(data-image url(""));*/
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	float: left;
}

.photo_info {
	display: block;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 5px 10px;
	background-color: rgba(0, 0, 0, 0.5);
}

.photo_number,
.photo_bib,
.photo_time {
	color: #fff;
	font-size: 14px;
}

.heartWrap {
	width: calc(100% - 20px);
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 10px;
    z-index: 993;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: right;
}

.btnHeart {
	display: inline-block;
    width: 40px;
    height: 40px;
    text-align: right;
    position: relative;
    top: 0px;
    right: 0px;
    background: url(../image/btn_heart.png) no-repeat center;
    cursor: pointer;
}

.btnHeart.unHeart {
	background: url("../image/btn_unheart.png") no-repeat center;
}

.detailsBox {
	width: calc(100% - 20px);
	/*min-width: 1250px;*/
	/*height: 300px;*/
	margin: 10px;
	background-color: #666;
	overflow: unset;
	float: left;
	display: none;
}

.photo_details {
	display: flex;
	position: relative;
	max-width: 1250px;
	margin: 0 auto;
	padding: 15px 50px;
	/*border: solid 1px yellow;*/
}

.details {
	display: block;
	flex: 1;
}

.details_info {
	display: block;
	padding: 10px 0px;
}

.details_img {
	display: flex;
    align-items: flex-end;
    justify-content: center;
	padding: 0px 10px;
	position: relative;
	flex: 1;
}

.details_img img {
	max-width: 100%;
	/*width: 100%;*/
}

.details {
	padding: 0px 10px;
}

.details_index,
.details_number,
.details_bib,
.details_time,
.details_price,
.details_qty {
	color: #fff;
	font-size: 18px;
}

.details_index .share_btn {
	display: inline-block;
	width: 36px;
    height: 36px;
    line-height: 36px;
}

.details_index span {
	color: #000;
}

.addToCart {
	display: inline-block;
	margin: 5px;
	padding: 10px;
	border-radius: 5px;
	background-color: #911e1e;
	color: #fff;
	letter-spacing: 5px;
}

.favorite {
	display: inline-block;
	margin: 5px;
	padding: 10px;
	border-radius: 5px;
	background-color: #db4a37;
	color: #fff;
	letter-spacing: 5px;
}

.addToCart:hover,
.favorite:hover {
	color: #fff;
}

.details_ad {
	/*border: solid 1px white;*/
}

.details_ad img {
	max-width: 100%;
}

.btnWrap {

}

.btn_left {
	display: block;
	width: 42px;
	height: 42px;
	background: url('../image/btn_left.png') no-repeat center;
	position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    cursor: pointer;
}

.btn_right {
	display: block;
	width: 42px;
	height: 42px;
	background: url('../image/btn_right.png') no-repeat center;
	position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
}

.btn_close {
	display: block;
	width: 26px;
	height: 26px;
	background: url('../image/btn_close.png') no-repeat center;
	position: absolute;
	top: 15px;
	right: 60px;
	cursor: pointer;
}

.boxArrow {
	display: none;
    position: absolute;
    bottom: -21px;
    left: calc(50% - 10px);
    z-index: 994;
    border-bottom: 10px solid #666;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.isExpanded .boxArrow {
	display: block;
}

.pagerWrap {
	padding: 40px 0px;
	text-align: center;
	clear: both;
}

.pagerRow {
	margin: 5px auto 40px;
}

.pager {
	display: inline-block;
	height: 32px;
	line-height: 32px;
	padding: 0px 10px;
	color: #373737;
	background-color: unset;
	font-size: 18px;
	cursor: pointer;
}

.pager:hover,
.pager:active,
.pager.current {
	color: #fff;
	background-color: #373737;
}

.pager.locked:hover,
.pager.locked:active,
.pager.locked {
	color: #a6a6a6;
	background-color: unset;
}

#loading {
	display: block;
	margin: 0px auto 20px;
	text-align: center;
}

#loading svg {
    width: 75px;
    height: 75px;
    stroke-width: 3px;
    animation: loading 1320ms linear infinite;
}

#loading svg circle {
	fill: none;
    stroke: #d53430;
    stroke-linecap: square;
    animation: loadingCircle 1320ms cubic-bezier(.8, 0, .4, .8) infinite;
}

#loading.is-hidden{
    display:none;
}

.articleWrap {
	width: 1250px;
	margin: 40px auto;
}

ul.breadCrumb {
	width: 1250px;
	margin: 0 auto;
    padding: 5px;
    list-style: none;
    color: #333;
}

ul.breadCrumb li {
    display: inline;
    font-size: 14px;
}

ul.breadCrumb li+li:before {
    padding: 0px 5px 0px 2px;
    content: "\003E";
}

.article {
	position: relative;
	padding: 25px 125px;
	background-color: #fff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.socialBox {
	float: right;
}

.share_btn {
	display: block;
	width: 40px;
    height: 40px;
   	line-height: 40px;
    margin-right: 5px;
    text-align: center;
    color: #fff;
    border-radius: 7px;
}

.share_btn.circle {
	border-radius: 100%;
}

.share_btn:hover {
	color: #fff;
	opacity: 0.8;
}

.share_fb {
	background: #3B5998;
}

.share_line {
	/*background: #00b900;*/
	color: #00b900!important;
}

.share_line i {
    font-size: 2.8em;
    line-height: unset;
    background: #fff;
    border-radius: 7px;
}

.article_date {
	font-size: 14px;
	color: #999999;
}

.article_title {
	padding-bottom: 35px;
	color: #5c0000;
}

.article img {
	max-width: 100%;
}

.article_block {
	width: 100%;
	padding-top: 20px;
}

.block_title {
	color: #5c0000;
	border-bottom: 1px solid #eee;
}

.article_block .cardWrap {
	width: 100%;
	padding-top: unset;
}

.footer {
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 998;
	padding: 7px 0px;
	text-align: center;
	background: url("../image/footer_bg.png") repeat 0 0;
	background-position: 0px 0px, 10px 10px;
    background-size: 20px 20px;
    color: #fff;
}

a.qa {
	margin-left: 10px;
	color: #fff;
}

a.qa:hover {
	color: #fff;
}

#goTop {
  display: none;
  width: 71px;
  height: 71px;
  background: url(../image/go_top.png) no-repeat center;
  position: fixed;
  right: 10px;
  bottom: 50px;
  cursor: pointer;  
}

@media screen and (max-width: 767px) {

html, body {
	font-family: 微軟正黑體;
	margin: 0;
	padding: 0;
	background-color: #f7f7f7;
}

.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9997;
	background-color: #fff;
    border-bottom: 3px solid #e71f19;
}

.header>div {
	width: 100%;
	margin: 0 auto;
	padding: 0 0 5px 0;
}

.logo {
	display: none;
}

.m_logo{
	width: auto;
	float: unset;
	display: block;
	margin: 0 auto;
}

.m_logo .link{
	color:#971e23;
	font-size:50px;
	line-height:50px;
	display:block;
	width:201px;
	height:45px;
	margin:0 auto;
	text-decoration:none;
}

.m_logo .link .text{
	display:block;
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
	position: relative;
    top: -50px;
    left: 0;
    z-index: 9999;
}

a.iconToggle {
	display:block;
	position: fixed;
    top: 13px;
    left: 10px;
    z-index: 9999;
}

nav {
	float: none;
	height: 100vh;
	display: block;
	position: absolute;
	top: 0;
	left: -180px;
	/*left: 0px;*/
	z-index: 9998;
	padding-top: 50px;
	background-color: #000;
}

ul.navList {
	width: 180px;
	height: 100%;
	overflow-y: auto;
}

li.navItem {
	display: block;
	float: none;
	border-top: 1px solid #313234;
}

a.navLink {
	display: block;
	line-height: 40px;
	margin-left: 0px;
	padding: 0px 10px;
	color: #fff;
	font-size: 16px;
	/*border: 1px solid yellow;*/
}

a.navLink:hover,
a.navLink.active {
	display: block;
	color: #fff;
}

a.navIcon {
	padding: 0px 10px;
}

a.navHome {padding: 0px 10px 0px 10px;}
a.iconPhone {background: unset;}
a.iconPhone:hover {background: unset;}
a.iconShopping {background: unset;}
a.iconShopping:hover {background: unset;}
a.iconCamera {background: unset;}
a.iconCamera:hover {background: unset;}
a.iconSport {background: unset;}
a.iconSport:hover, a.navLink.active {background: unset;}
a.iconLogin {background: unset;}
a.iconLogin:hover {background: unset;}

a.navLine {padding: 0px 10px 0px 10px;}
a.iconLine img {display: none;}
a.iconLine span {display: block;}

.content {
	width: 100%;
	min-width: 100%;
	margin-top: 53px;
	padding-top: 15px;
	padding-bottom: 50px;
	background: none;
	background-attachment: unset;
}

.content.searchAlbum .contentTop,
.content.searchPhoto .contentTop {
	background-color: #e7e7e7;
	padding: 10px 0px 10px;
}

.content.searchAlbum,
.content.searchPhoto {
	padding-top: 0px;
	background: none;
	background-attachment: unset;
}

.searchWrap {
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 10px 15px;
}

.searchBox {
	width: 100%;
}

.searchAlbum .searchBox,
.searchPhoto .searchBox {
	margin: 0 auto;
}

.searchForm input[type="search"] {
	width: calc(100% - 55px);
    height: 45px;
    line-height: normal;
    font-size: 16px;
    padding: 10px 5px 10px 45px;
    border: none;
    border-radius: 5px 0px 0px 5px;
    color: #333;
    text-align: center;
}

.searchForm input[type="search"]::placeholder {
	color: #333;
}

a.searchKeyword {
	display: inline-block;
    background-color: #fff;
    float: right;
    border-radius: 0px 5px 5px 0px;
}

.btnSearch {
	width: 55px;
	height: 45px;
	background: url("../image/btn_search@2x.png") no-repeat center;
	background-size: 55px 45px;
}

.timeLine {

}

.albumInfo {
	width: 100%;
	margin: 0 auto;
	color: #333;
	padding: 0px 15px;
}

.albumTitle {
	display: inline-block;
	padding: 10px 0px;
	font-size: 35px;
	font-weight: bold;
}

.albumDate {
	display: inline-block;
	font-size: 14px;
}

.filterWrap {
	display: block;
	padding: 15px 0px;
	text-align: left;
}

.filterTitle {
	display: block;
	padding: 0px 10px 10px 0px;
	font-size: 16px;
	text-align: left;
}

#timeSlider {
	display: inline-block;
	width: 60%;
	margin: 0 4px 2px;
	vertical-align: middle;
}

#startTime,
#endTime {
	width: 50px;
	border: 1px solid #999;
    color: #333;
    font-weight: bold;
    text-align: center;
}

.resultWrap {
	width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
}

.result {
	display: block;
	justify-content: center;
}

.iconNoResult {
	width: 130px;
	height: 130px;
	background: url("../image/icon_noResult@2x.png") no-repeat center;
	background-size: 130px 130px;
	margin: 0 auto;
}

.noResult .iconNoResult {
	display: block;
}

.resultMsg {
	padding-left: 20px;
	padding: 10px 15px;
	align-self: center; /*vertical-align middle with img*/
}

.keyword {
	color: #d53430;
}

.albumWrap {
	width: 100%;
	margin: 0 auto;
	padding-top: 160px;
	/*background-color: #fff;*/
	padding: 15px;
}

.searchAlbum .albumWrap,
.searchPhoto .albumWrap {
	width: 100%;
	margin: 0 auto;
	padding-top: 20px;
	padding: 15px;
}

.albums {
	display: block;
	width: calc(100% - 30px);
	height: unset;
	margin: 10px 0px;
	padding: 5px;
	background-color: #fff;
	overflow: hidden;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.08);
}

.albums:hover,
.albums:active {
	background-color: #d53430;
	color: #fff;
}

.albums:hover .album_title,
.albums:active .album_title {
	color: #fff;
}

.album_img {
	width: 100%;
	height: 260px;
	background: url('http://img.ltn.com.tw/Upload/sports/page/800/2016/03/27/1645894_4.jpg') no-repeat top center;
	/*background: url('../image/album/album-2.jpg') no-repeat top center;*/
	background-size: cover;
}

.albums.ad .album_img {
	height: 290px;
}

.albums.ad .album_info {
	display: none;
}

.album_info {
	padding: 3px 5px;
    line-height: 1.2em;
}

.album_title {
	display: block;
	font-size: 18px;
	line-height: 1.5em;
	color: #5c0000;
}

.photoWrap {
	display: block;
    padding: 10px;
    max-width: 100%;
    margin: 0 auto;
}

.photos {
	display: block;
	width: calc(100% - 20px);
	height: calc(100vw - 40px);
	margin: 10px;
	background-color: #fff;
	/*overflow: hidden;*/
	/*box-shadow: 3px 3px 3px rgba(0,0,0,0.08);*/
	/*background-image: attr(data-image url(""));*/
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}

.photo_info {
	display: block;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 5px 10px;
	background-color: rgba(0, 0, 0, 0.5);
}

.photo_number,
.photo_bib,
.photo_time {
	color: #fff;
	font-size: 14px;
}

.heartWrap {
	width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 993;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: right;
}

.btnHeart {
	display: inline-block;
    width: 40px;
    height: 40px;
    text-align: right;
    position: relative;
    top: 0px;
    right: 0px;
    background: url(../image/btn_heart@2x.png) no-repeat center;
    background-size: 30px;
    cursor: pointer;
}

.btnHeart.unHeart {
	background: url("../image/btn_unheart@2x.png") no-repeat center;
	background-size: 30px;
}

.detailsBox {
	width: calc(100% - 20px);
	/*min-width: 1250px;*/
	/*height: 300px;*/
	margin: 10px;
	background-color: #666;
	overflow: unset;
	float: left;
	display: none;
}

.photo_details {
	display: block;
	position: relative;
	max-width: 1250px;
	margin: 0 auto;
	padding: 50px 15px 15px;
	/*border: solid 1px yellow;*/
}

.details {
	display: block;
	flex: unset;
}

.details_info {
	display: block;
	padding: 5px 0px;
}

.details_img {
	display: flex;
    align-items: flex-end;
    justify-content: center;
	padding: 0px;
	position: relative;
	flex: unset;
}

.details_img img {
	max-width: 100%;
}

.details {
	padding: 10px 10px 0px;
}

.details_index,
.details_number,
.details_bib,
.details_time,
.details_price,
.details_qty {
	color: #fff;
	font-size: 14px;
}

.details_index .share_btn {
	display: inline-block;
	width: 36px;
    height: 36px;
    line-height: 36px;
}

.details_index span {
	color: #000;
}

.addToCart {
	display: inline-block;
	margin: 5px;
	padding: 10px;
	border-radius: 5px;
	background-color: #911e1e;
	color: #fff;
	letter-spacing: 5px;
}

.favorite {
	display: inline-block;
	margin: 5px;
	padding: 10px;
	border-radius: 5px;
	background-color: #db4a37;
	color: #fff;
	letter-spacing: 5px;
}

.addToCart:hover,
.favorite:hover {
	color: #fff;
}

.details_ad {
	/*border: solid 1px white;*/
}

.details_ad img {
	max-width: 100%;
}

.btnWrap {
	position: relative;
}

.btn_left {
	display: block;
	width: 32px;
	height: 32px;
	background: url('../image/btn_left@2x.png') no-repeat center;
	background-size: 32px;
	position: absolute;
    top: -34px;
    left: unset;
    right: 45px;
    transform: unset;
    cursor: pointer;
}

.btn_right {
	display: block;
	width: 32px;
	height: 32px;
	background: url('../image/btn_right@2x.png') no-repeat center;
	background-size: 32px;
	position: absolute;
    top: -34px;
    right: 0px;
    transform: unset;
    cursor: pointer;
}

.btn_close {
	display: block;
	width: 20px;
	height: 20px;
	background: url('../image/btn_close@2x.png') no-repeat center;
	background-size: 20px;
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
}

.boxArrow {
	display: none;
    position: absolute;
    bottom: -21px;
    left: calc(50% - 10px);
    z-index: 994;
    border-bottom: 10px solid #666;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.isExpanded .boxArrow {
	display: block;
}

.pagerWrap {
	padding: 40px 0px;
	text-align: center;
	clear: both;
}

.pagerRow {
	margin: 5px auto 40px;
}

.pager {
	display: inline-block;
	height: 32px;
	line-height: 32px;
	padding: 0px 10px;
	color: #373737;
	background-color: unset;
	font-size: 18px;
	cursor: pointer;
}

.pager:hover,
.pager:active,
.pager.current {
	color: #fff;
	background-color: #373737;
}

.pager.locked:hover,
.pager.locked:active,
.pager.locked {
	color: #a6a6a6;
	background-color: unset;
}

#loading {
	display: block;
	margin: 0px auto 20px;
	text-align: center;
}

#loading svg {
    width: 50px;
    height: 50px;
    stroke-width: 3px;
    animation: loading 1320ms linear infinite;
}

#loading svg circle {
	fill: none;
    stroke: #d53430;
    stroke-linecap: square;
    animation: loadingCircle 1320ms cubic-bezier(.8, 0, .4, .9) infinite;
}

.articleWrap {
	width: 100%;
	margin: 15px auto;
	padding: 0px 15px;
}

ul.breadCrumb {
	width: 100%;
    padding: 10px 15px;
    list-style: none;
    color: #333;
}

ul.breadCrumb li {
    display: inline;
    font-size: 14px;
}

ul.breadCrumb li+li:before {
    padding: 0px 5px 0px 2px;
    content: "\003E";
}

.article {
	padding: 25px 15px;
	background-color: #fff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.socialBox {
	float: right;
}

.share_btn {
	display: block;
	width: 30px;
    height: 30px;
   	line-height: 30px;
   	margin-right: 5px;
    margin-bottom: 0px;
    text-align: center;
    color: #fff;
    border-radius: 7px;
}

.share_btn.circle {
	border-radius: 100%;
}

.share_btn:hover {
	color: #fff;
	opacity: 0.8;
}

.share_fb {
	background: #3B5998;
}

.share_line {
	/*background: #00b900;*/
	color: #00b900!important;
}

.share_line i {
    font-size: 2.2em;
    line-height: unset;
    background: #fff;
    border-radius: 7px;
}

.article_date {
	font-size: 14px;
	color: #999999;
}

.article_title {
	padding-top: 20px;
	padding-bottom: 20px;
	color: #5c0000;
}

.article img {
	max-width: 100%;
}

.article_block {
	width: 100%;
	padding-top: 20px;
}

.block_title {
	color: #5c0000;
	border-bottom: 1px solid #eee;
}

.article_block .cardWrap {
	width: 100%;
	padding-top: unset;
}

.footer {
	padding: 7px 20px;
    line-height: 1.2em;
}

a.qa {
	margin-left: 10px;
	color: #fff;
}

a.qa:hover {
	color: #fff;
}

#goTop {
  display: none;
  width: 55px;
  height: 55px;
  background: url(../image/go_top_mobile.png) no-repeat center;
  position: fixed;
  right: 5px;
  bottom: 55px;
  cursor: pointer; 
}

}


/*===== iPhone X =====*/
@media screen and (device-width : 812px) and (-webkit-device-pixel-ratio : 3) {

html, body {
	font-family: 微軟正黑體;
	margin: 0;
	padding: 0;
	background-color: #f7f7f7;
}

.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9997;
	background-color: #fff;
    border-bottom: 3px solid #e71f19;
}

.header>div {
	width: 100%;
	margin: 0 auto;
	padding: 0 0 5px 0;
}

.logo {
	display: none;
}

.m_logo{
	width: auto;
	float: unset;
	display: block;
	margin: 0 auto;
}

.m_logo .link{
	color:#971e23;
	font-size:50px;
	line-height:50px;
	display:block;
	width:201px;
	height:45px;
	margin:0 auto;
	text-decoration:none;
}

.m_logo .link .text{
	display:block;
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
	position: relative;
    top: -50px;
    left: 0;
    z-index: 9999;
}

a.iconToggle {
	display:block;
	position: fixed;
    top: 13px;
    left: 10px;
    z-index: 9999;
}

nav {
	float: none;
	height: 100vh;
	display: block;
	position: absolute;
	top: 0;
	left: -180px;
	/*left: 0px;*/
	z-index: 9998;
	padding-top: 50px;
	background-color: #000;
}

ul.navList {
	width: 180px;
	height: 100%;
	overflow-y: auto;
}

li.navItem {
	display: block;
	float: none;
	border-top: 1px solid #313234;
}

a.navLink {
	display: block;
	line-height: 40px;
	margin-left: 0px;
	padding: 0px 10px;
	color: #fff;
	font-size: 16px;
	/*border: 1px solid yellow;*/
}

a.navLink:hover,
a.navLink.active {
	display: block;
	color: #fff;
}

a.navIcon {
	padding: 0px 10px;
}

a.navHome {padding: 0px 10px 0px 10px;}
a.iconPhone {background: unset;}
a.iconPhone:hover {background: unset;}
a.iconShopping {background: unset;}
a.iconShopping:hover {background: unset;}
a.iconCamera {background: unset;}
a.iconCamera:hover {background: unset;}
a.iconSport {background: unset;}
a.iconSport:hover, a.navLink.active {background: unset;}
a.iconLogin {background: unset;}
a.iconLogin:hover {background: unset;}

a.navLine {padding: 0px 10px 0px 10px;}
a.iconLine img {display: none;}
a.iconLine span {display: block;}

.content {
	width: 100%;
	min-width: 100%;
	margin-top: 53px;
	padding-top: 15px;
	padding-bottom: 50px;
	background: none;
	background-attachment: unset;
}

.content.searchAlbum .contentTop,
.content.searchPhoto .contentTop {
	background-color: #e7e7e7;
	padding: 10px 0px 10px;
}

.content.searchAlbum,
.content.searchPhoto {
	padding-top: 0px;
	background: none;
	background-attachment: unset;
}

.searchWrap {
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 10px 15px;
}

.searchBox {
	width: 100%;
}

.searchAlbum .searchBox,
.searchPhoto .searchBox {
	margin: 0 auto;
}

.searchForm input[type="search"] {
	width: calc(100% - 55px);
    height: 45px;
    line-height: normal;
    font-size: 16px;
    padding: 10px 5px 10px 45px;
    border: none;
    border-radius: 5px 0px 0px 5px;
    color: #333;
    text-align: center;
}

.searchForm input[type="search"]::placeholder {
	color: #333;
}

a.searchKeyword {
	display: inline-block;
    background-color: #fff;
    float: right;
    border-radius: 0px 5px 5px 0px;
}

.btnSearch {
	width: 55px;
	height: 45px;
	background: url("../image/btn_search@2x.png") no-repeat center;
	background-size: 55px 45px;
}

.timeLine {

}

.albumInfo {
	width: 100%;
	margin: 0 auto;
	color: #333;
	padding: 0px 15px;
}

.albumTitle {
	display: inline-block;
	padding: 10px 0px;
	font-size: 35px;
	font-weight: bold;
}

.albumDate {
	display: inline-block;
	font-size: 14px;
}

.filterWrap {
	display: block;
	padding: 15px 0px;
	text-align: left;
}

.filterTitle {
	display: block;
	padding: 0px 10px 10px 0px;
	font-size: 16px;
	text-align: left;
}

#timeSlider {
	display: inline-block;
	width: 60%;
	margin: 0 4px 2px;
	vertical-align: middle;
}

#startTime,
#endTime {
	width: 50px;
	border: 1px solid #999;
    color: #333;
    font-weight: bold;
    text-align: center;
}

.resultWrap {
	width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
}

.result {
	display: block;
	justify-content: center;
}

.iconNoResult {
	width: 130px;
	height: 130px;
	background: url("../image/icon_noResult@2x.png") no-repeat center;
	background-size: 130px 130px;
	margin: 0 auto;
}

.noResult .iconNoResult {
	display: block;
}

.resultMsg {
	padding-left: 20px;
	padding: 10px 15px;
	align-self: center; /*vertical-align middle with img*/
}

.keyword {
	color: #d53430;
}

.albumWrap {
	width: 100%;
	margin: 0 auto;
	padding-top: 160px;
	/*background-color: #fff;*/
	padding: 15px;
}

.searchAlbum .albumWrap,
.searchPhoto .albumWrap {
	width: 100%;
	margin: 0 auto;
	padding-top: 20px;
	padding: 15px;
}

.albums {
	display: block;
	width: calc(100% - 30px);
	height: unset;
	margin: 10px 0px;
	padding: 5px;
	background-color: #fff;
	overflow: hidden;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.08);
}

.albums:hover,
.albums:active {
	background-color: #d53430;
	color: #fff;
}

.albums:hover .album_title,
.albums:active .album_title {
	color: #fff;
}

.album_img {
	width: 100%;
	height: 260px;
	background: url('http://img.ltn.com.tw/Upload/sports/page/800/2016/03/27/1645894_4.jpg') no-repeat top center;
	/*background: url('../image/album/album-2.jpg') no-repeat top center;*/
	background-size: cover;
}

.albums.ad .album_img {
	height: 290px;
}

.albums.ad .album_info {
	display: none;
}

.album_info {
	padding: 3px 5px;
    line-height: 1.2em;
}

.album_title {
	display: block;
	font-size: 18px;
	line-height: 1.5em;
	color: #5c0000;
}

.photoWrap {
	display: block;
    padding: 10px;
    max-width: 100%;
    margin: 0 auto;
}

.photos {
	display: block;
	width: calc(100% - 20px);
	height: calc(100vw - 40px);
	margin: 10px;
	background-color: #fff;
	/*overflow: hidden;*/
	/*box-shadow: 3px 3px 3px rgba(0,0,0,0.08);*/
	/*background-image: attr(data-image url(""));*/
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}

.photo_info {
	display: block;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 5px 10px;
	background-color: rgba(0, 0, 0, 0.5);
}

.photo_number,
.photo_bib,
.photo_time {
	color: #fff;
	font-size: 14px;
}

.heartWrap {
	width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 993;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: right;
}

.btnHeart {
	display: inline-block;
    width: 40px;
    height: 40px;
    text-align: right;
    position: relative;
    top: 0px;
    right: 0px;
    background: url(../image/btn_heart@2x.png) no-repeat center;
    background-size: 30px;
    cursor: pointer;
}

.btnHeart.unHeart {
	background: url("../image/btn_unheart@2x.png") no-repeat center;
	background-size: 30px;
}

.detailsBox {
	width: calc(100% - 20px);
	/*min-width: 1250px;*/
	/*height: 300px;*/
	margin: 10px;
	background-color: #666;
	overflow: unset;
	float: left;
	display: none;
}

.photo_details {
	display: block;
	position: relative;
	max-width: 1250px;
	margin: 0 auto;
	padding: 50px 15px 15px;
	/*border: solid 1px yellow;*/
}

.details {
	display: block;
	flex: unset;
}

.details_info {
	display: block;
	padding: 5px 0px;
}

.details_img {
	display: flex;
    align-items: flex-end;
    justify-content: flex-end;
	padding: 0px;
	position: relative;
	flex: unset;
}

.details_img img {
	max-width: 100%;
}

.details {
	padding: 10px 10px 0px;
}

.details_index,
.details_number,
.details_bib,
.details_time,
.details_price,
.details_qty {
	color: #fff;
	font-size: 14px;
}

.details_index .share_btn {
	display: inline-block;
	width: 36px;
    height: 36px;
    line-height: 36px;
}

.details_index span {
	color: #000;
}

.addToCart {
	display: inline-block;
	margin: 5px;
	padding: 10px;
	border-radius: 5px;
	background-color: #911e1e;
	color: #fff;
	letter-spacing: 5px;
}

.favorite {
	display: inline-block;
	margin: 5px;
	padding: 10px;
	border-radius: 5px;
	background-color: #db4a37;
	color: #fff;
	letter-spacing: 5px;
}

.addToCart:hover,
.favorite:hover {
	color: #fff;
}

.details_ad {
	/*border: solid 1px white;*/
}

.details_ad img {
	max-width: 100%;
}

.btnWrap {
	position: relative;
}

.btn_left {
	display: block;
	width: 32px;
	height: 32px;
	background: url('../image/btn_left@2x.png') no-repeat center;
	background-size: 32px;
	position: absolute;
    top: -34px;
    left: unset;
    right: 45px;
    transform: unset;
    cursor: pointer;
}

.btn_right {
	display: block;
	width: 32px;
	height: 32px;
	background: url('../image/btn_right@2x.png') no-repeat center;
	background-size: 32px;
	position: absolute;
    top: -34px;
    right: 0px;
    transform: unset;
    cursor: pointer;
}

.btn_close {
	display: block;
	width: 20px;
	height: 20px;
	background: url('../image/btn_close@2x.png') no-repeat center;
	background-size: 20px;
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
}

.boxArrow {
	display: none;
    position: absolute;
    bottom: -21px;
    left: calc(50% - 10px);
    z-index: 994;
    border-bottom: 10px solid #666;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.isExpanded .boxArrow {
	display: block;
}

.pagerWrap {
	padding: 40px 0px;
	text-align: center;
	clear: both;
}

.pagerRow {
	margin: 5px auto 40px;
}

.pager {
	display: inline-block;
	height: 32px;
	line-height: 32px;
	padding: 0px 10px;
	color: #373737;
	background-color: unset;
	font-size: 18px;
	cursor: pointer;
}

.pager:hover,
.pager:active,
.pager.current {
	color: #fff;
	background-color: #373737;
}

.pager.locked:hover,
.pager.locked:active,
.pager.locked {
	color: #a6a6a6;
	background-color: unset;
}

#loading {
	display: block;
	margin: 0px auto 20px;
	text-align: center;
}

#loading svg {
    width: 50px;
    height: 50px;
    stroke-width: 3px;
    animation: loading 1320ms linear infinite;
}

#loading svg circle {
	fill: none;
    stroke: #d53430;
    stroke-linecap: square;
    animation: loadingCircle 1320ms cubic-bezier(.8, 0, .4, .9) infinite;
}

.articleWrap {
	width: 100%;
	margin: 15px auto;
	padding: 0px 15px;
}

ul.breadCrumb {
	width: 100%;
    padding: 10px 15px;
    list-style: none;
    color: #333;
}

ul.breadCrumb li {
    display: inline;
    font-size: 14px;
}

ul.breadCrumb li+li:before {
    padding: 0px 5px 0px 2px;
    content: "\003E";
}

.article {
	padding: 25px 15px;
	background-color: #fff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.socialBox {
	float: right;
}

.share_btn {
	display: block;
	width: 30px;
    height: 30px;
   	line-height: 30px;
   	margin-right: 5px;
    margin-bottom: 0px;
    text-align: center;
    color: #fff;
    border-radius: 7px;
}

.share_btn.circle {
	border-radius: 100%;
}

.share_btn:hover {
	color: #fff;
	opacity: 0.8;
}

.share_fb {
	background: #3B5998;
}

.share_line {
	/*background: #00b900;*/
	color: #00b900!important;
}

.share_line i {
    font-size: 2.2em;
    line-height: unset;
    background: #fff;
    border-radius: 7px;
}

.article_date {
	font-size: 14px;
	color: #999999;
}

.article_title {
	padding-top: 20px;
	padding-bottom: 20px;
	color: #5c0000;
}

.article img {
	max-width: 100%;
}

.article_block {
	width: 100%;
	padding-top: 20px;
}

.block_title {
	color: #5c0000;
	border-bottom: 1px solid #eee;
}

.article_block .cardWrap {
	width: 100%;
	padding-top: unset;
}

.footer {
	padding: 7px 20px;
    line-height: 1.2em;
}

a.qa {
	margin-left: 10px;
	color: #fff;
}

a.qa:hover {
	color: #fff;
}

#goTop {
  display: none;
  width: 55px;
  height: 55px;
  background: url(../image/go_top_mobile.png) no-repeat center;
  position: fixed;
  right: 5px;
  bottom: 55px;
  cursor: pointer; 
}

}

@keyframes loading {
	0% {transform: rotate(-101deg);}
	100% {transform: rotate(0);}
}

@keyframes loadingCircle {
	0%{stroke-dasharray:1 210.48671px;stroke-dashoffset:0}
	40%{stroke-dasharray:151.55043px,210.48671px;stroke-dashoffset:0}
	100%{stroke-dasharray:1 210.48671px;stroke-dashoffset:-151.55043px}
}

@keyframes expanded {
	0%{transform: scaleY(0)}
	100%{transform: scaleY(1)}
}

@keyframes collapse {
	0%{transform: scaleY(1)}
	100%{transform: scaleY(0);}
}

@media screen and (max-width: 1699px) {
	.photoWrap {
		display: block;
	    padding: 10px;
	    max-width: 1420px;
	    margin: 0 auto;
	}
}

@media screen and (max-width: 1419px) {
	.photoWrap {
		display: block;
	    padding: 10px;
	    max-width: 1140px;
	    margin: 0 auto;
	}
}

/*@media screen and (max-width: 1139px) {
	.photoWrap {
		display: block;
	    padding: 10px;
	    max-width: 860px;
	    margin: 0 auto;
	}
}*/