<div class="col-lg-3 col-md-4 col-sm-6">
	<div class="tile">
		<div class="tile-heading">會員數量</div>
		<div class="tile-body"><i class="fa fa-users"></i>
			<h3 class="pull-right" style="font-size: 30px;"><?=$cnt?></h3>
		</div>
		<div class="tile-footer"><a href="">檢視明細...<?php //echo $text_view; ?></a></div>
	</div>
</div>
